html {
    background-color: lightgreen;
}

#header_red {color: red}

#header_green {color: green}

h3.style {color: yellow}

p.style {background-color: blue}

p i {
    color: brown;
    text-decoration: underline;
}


p.example, b {
    font-size: 30px;
    font-weight: lighter;
}

p#pseudo_class:first-letter {
    color:red;
}

p#pseudo_class:first-line {
    color: #b46a12;
}

.href {
    color: #500d00;
    text-decoration: overline;
}

.href:hover {
    color: green;
    text-decoration: underline;
}

.href:active {
    color: blue;
}

p:hover {
    background-color: red;
}

#testBlock {
    border: 2px outset silver;
    border-bottom: 3px dashed red;
    height: 20px;
    width: 500px;
    float: right;
    position: relative;
    z-index: 0;
    background-color: #11f7f7;
    margin: 10px 10px 10px 10px;
    padding: 30px;
    border-radius: 10px;
    transform: rotate(180deg);
    visibility: hidden;
}

header {
    width: calc(100% - 20px);
    height: 50px;
    background-color: antiquewhite;
    border-bottom: 2px solid silver;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    font-family: "Comic Sans MS";
    border-radius: 10px;
    margin-bottom: 10px;
    float: left;
    visibility: hidden;
}
article, aside {
    background-color: #fafafa;
    min-height: 400px;
    border-radius: 5px;
    border: 5px solid silver;
    box-sizing: border-box;
    margin-top: 20px;
    float: left;
    overflow: auto;

}

article {
    width: 60%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
}

body {
    height: 3000px;
    position: relative;
}


aside {
    width: 25%;
    font-size: 1.5em;
    visibility: hidden;
}

aside ul {
    padding-left: 100px;
    list-style: outside;
    list-style-type: lower-alpha;
    list-style-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYbDRgMFxsfFRsWICgmHysdJScvJTQsJCoxLx8rJTUtOS8rNjc6IyI3PTMvNyoyNS4BCgoKDg0OGxAQGy8mHyYtNy8vNjU1LS0zNS04LTcuKzcvNzU3LzItNzUrLi0tNi0rNS0vLS8wLTUvNjctLTU1L//AABEIAEAAQAMBEQACEQEDEQH/xAAbAAACAgMBAAAAAAAAAAAAAAAEBgUHAQIDAP/EADcQAAEDAgEJBgUCBwAAAAAAAAECAwQABREGBxITITFBUXEUFTJhgZEiobHC8ELRMzRScqKy0v/EABoBAAEFAQAAAAAAAAAAAAAAAAUAAgMEBgH/xAAzEQABAwIEAwYEBgMAAAAAAAABAAIDBBEFEhMhMTJRQWFxgZHBIqHR8CMkUrHh8RQzQv/aAAwDAQACEQMRAD8AvGkkgbxdoVmhmVcHg22PD/UTyA4mmSSNjF3KaCB8zsrAkmdlPe7ntiqRZ4Z8JWNJ9Q6bh+bTQefEnf8AOwRmKggj5vjd6BRDrTbxxl3C6S1HfrHSB7UOfXOPaSrjQW8rWjyWGm22SDFnXSKobtU8SPakyucOvqk5pdzNafJTNvymvNvI160XeKPFgAh8DpuV9TRKDEidjv8AuqU1BC/l+A+o/hOtnu0K8xBJgOhaP1A7FJPIjgaLxyNkF2oPPA+F2V4R1PUKHuE1i3QnpktegyyglZ/OPCmvcGtLinxRukeGN4lVNLuL11nd7XEYuK/lWz4W0c+p3/mzNVVU6R11qYoGxM0meZ6lclyFLUVKUSTzqgQTuVKG24Ii3RZVykiPDbLjmGJ5AczUkNO+V2Vg3UcsjIm5nnZdrtbJ1pUgTW9EL8JScQadPSSQn4wmQVEc3IUAHyDiDgagsp8qIg3N+3ThcIX8cfxk/pdRyPnyNEKSqdG5QzU7ZWZHcOzuKte3zWLjBZmRVaTLyAU/t14VpWODmhwWXljdG8sdxCSM6twIbg2pCtjyit7+1O4ep+godiUuVgaEYwaHd0p7Nh7pHVIKjio4mgNkbyrGupZUrJ7zXKCzclYDEar7v2oxhItn8vdBMY2yefspDOWoJsUc8e1J/wBVVNiovCPH2Kgwj/cfD3CrTXUByrRWXtd50sqWVPOau5KUJ9rcViG1BxnoreOmOHuaPYbKXNLSgmMQgFsg7dj7KEzorUMqGydoERAHuo1XxHeS3crmDj8ufH2CVGlF11DYIBWoAY+dUAy5siZ2F1b0PISxsMJRIYXJcA+JS1qGJ6AijjMPhAsRdZaTFKhxu02HgPdS9pslus+t7uj6nW4afxKOOGOG8nmasRQRxXyC11VmqZZrahvbwXS6WuFdo6Y9wZ1rSVhQGKht2jHYRzp0sTJRZ4uE2Gd8LszDYqJVkRk8UkCAUk8Q45/1Vf8AwIP0/Mq0MTqf1fIfRVTfYndV3lQQvTDLmCTzG8fWgs0Wm8t6LTU8mrE1/VT2a5SjlQsjYDEWD7pNW8O2kt3KjjA/Ljx+qkM6UE95RJYHwuMlJ6pOP3fKu4o2z2u6hQ4PJ+G5nQ3+/RJOo8qF5kYzJsh5dXuMwlpQjP6IwCnUnS+RFXmYlK0W2KGPwuBxvuPD+k25FZQzb92ztrTCNRoaOqBG/S34k8qI0VU6fNmttZCsQpGU+XITvfj5IrLG8SbJbGpMNDS3FvhJ1oJGBCjwI5VJWVDoWBzetlHQUzJ5C19+F9kmrzgXpSSAxCSSN4SrEf5UMOKS9B8/qi4wmDqfl9EpSNbJfcffUVuuKJWTvJNUHSFxuUTaA0BreATjmtgnvOXLKfhbZ0R1UcftonhbbvLugQnGJPw2s6m/36p0yotIu9qWykDXIOk11HD13VfrYNaIgceIQmjqNGUOPDgVVioqkqKVJIUDtBrKl1jYrThwO4WOz+VczLuZNmQEuPBkymJCw2XwjQKtgxTjs+dFsKqGMc5rja9kKxSJ0jWuaL2ujs4EyNIgMRGnUuO64KOiccAARt96mxWoYWBgNze6hwuJ7Xl5G1rJF7P5UDzI3mWUxSpQSlJJJ2YV0OvsFwusrTyXtPdFqQyoDXLOk71PD03e9aqig0YgDxO5WYrajWlJHDgFL1bVRLmUOTqJq1Somil8+McFefWhFfhuqdSPm7e9EaSuMYyP4JScguNLKHEFKhvBoA6BzTYjdGGyhwuCtOyHlXNMruovdkPKlplLUWzcFxxYQ2gqUdwA211sLnGwG64ZQ0XJTdk9k4iEtMqZoqfHgHBPn1o/QYbpHUk5uzuQirrtQZGcEx0XQ1aKSTxpJLi4wtW5eFJJAyrUuR4l48sajkiZJzC6eyRzOUoQ5Pr4LT6iqpw+E9VOKyQLwyfXxWn0FIYfCOqRrJCjItrVH8CgOeFWo4mR8osoHyOfzFHIZWnerGpExdkpI40kl//Z');
}

.spanBlock {
    display: block;
    height: 50px;
    width: 100px;
    border: 1px solid red;
    overflow: auto;

}

footer {
    width: calc(100% - 20px);
    height: 50px;
    background-color: antiquewhite;
    border-top: 2px solid silver;
    padding: 10px;
    font-size: 1.2em;
    color: #333;
    font-family: "Comic Sans MS";
    border-radius: 10px;
    margin-top: 20px;
    float: left;
    visibility: hidden;
}