/*для абсолютно всего документа*/
/** {
    font-size: 20px;
}*/
html {
    background-color: aquamarine
}
#header_red {color: red}

#header_green {color: green}

h3.style {color: yellow}

p.style {background-color: blue}

p i {
    color: brown;
}

p.example, b {
    font-size: 30px;
    font-weight: lighter;
}